/* DEMO STYLES
------------------------------------------------------------------------------*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.column-box {
    background-color: #eee;
}

@media only screen and (min-width: 48.000em) {
    .columns {
        margin-left: -10px;
        margin-right: -10px;
    }

    .column {
        float: left;
        width: 32%;
    }



    .column-box {
        margin-left: 10px;
        margin-right: 10px;
}

} /* end media */


